sudo: required
services:
  - docker

before_install:
  - docker build -t haibui/docker-react-aws -f Dockerfile.dev .

script:
  - docker run -e CI=true haibui/docker-react-aws npm run test

deploy:
  provider: elasticbeanstalk
  region: "ap-southeast-1"
  app: "docker-react-aws"
  env: "DockerReactAws-env"
  bucket_name: "elasticbeanstalk-ap-southeast-1-647466573283"
  bucket_path: "docker-react-aws"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY